<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of patent items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}
	    


<ol>
<li value="">
H. Jonathan Chao, Kuan-Yin Chen &amp; Yang Xu,<br>
"Methods and apparatus for alleviating congestion at a switch, such as a shallow buffered switch",<br>
US Patent No. 10,218,625 B2,
Issued on 
Feb 26,
2019
</li>
<br><li value="">
Cing-Yu Chu, Yang Xu &amp; H. Jonathan Chao,<br>
"Network function virtualization based communications network resilience",<br>
US Patent App. 15/872,746,
Filed on 
July 19,
2018
</li>
<br><li value="">
Yang Xu &amp; H. Jonathan Chao,<br>
"Controlling the reactive caching of wildcard rules for packet processing, such as flow processing in software-defined networks",<br>
US Patent No. 10,129,181 B2,
Issued on 
Nov 13,
2018
</li>
<br><li value="">
Shu Shi, Rittwik Jana, Hung-Hsiang Jonathan Chao, Yang Xu &amp; Bo Yan,<br>
"Transport Layer Network Service for Live Content Broadcasting",<br>
US Patent App. 15/641,049,
Filed on 
July 3,
2017
</li>
<br><li value="">
H. Jonathan Chao &amp; Yang Xu,<br>
"Generating progressively a perfect hash data structure, such as a multi-dimensional perfect hash data structure, and using the generated data structure for high-speed string matching",<br>
US Patent 9,455,996,
Issued on 
Sep 27,
2016
</li>
<br><li value="">
H. Jonathan Chao, Rihua Wei &amp; Yang Xu,<br>
"Finding nonequivalent classifiers to reduce ternary content addressable memory (TCAM) usage",<br>
US Patent 9,094,350,
Issued on 
July 28,
2015
</li>
<br><li value="">
H. Jonathan Chao &amp; Yang Xu,<br>
"Generating a tunable finite automaton for regular expression matching",<br>
US Patent 8,943,063,
Issued on 
Jan 27,
2015
</li>
<br><li value="">
H. Jonathan Chao &amp; Yang Xu,<br>
"Regrouping non-derministic finite automaton active states to minimize distinct subsets",<br>
US Patent 8,935,250,
Issued on 
Jan 13,
2015
</li>
<br><li value="">
H. Jonathan Chao &amp; Yang Xu,<br>
"Using a tunable finite automaton for regular expression matching",<br>
US Patent 8,938,454,
Issued on 
Jan 20,
2015
</li>
<br><li value="">
H. Jonathan Chao &amp; Yang Xu,<br>
"Encoding non-derministic finite automation states efficiently in a manner that permits simple and fast union operations",<br>
US Patent 8,862,585,
Issued on 
Oct 14,
2014
</li>
<br><li value="">
H. Jonathan Chao &amp; Yang Xu,<br>
"Updating a perfect hash data structure, such as a multi-dimensional perfect hash data structure, used for high-speed string matching",<br>
US Patent 8,775,393,
Issued on 
July 8,
2014
</li>
<br><li value="">
Ya Bin Dang, Yi Ge, Ling Shao, Zhiyong Liang &amp; Yang Xu,<br>
"Parsing a markup language document",<br>
US Patent 8,250,464,
Issued on 
Aug 21,
2012
</li>
<br><li value="">
Xudong Li, Yang Xu &amp; Bin Liu,<br>
"A Congurable Hardware Structure for Implementing Approximate String Matching at Wire-speed",<br>
CN Patent: ZL200410068849.9,
Issued on 
Nov 28,
2007
</li>
<br></ol>
	    

    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
