<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of publication items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}
	    


<ol>



<br><li value="">
Zhiyu Zhang, Minkun Xue, Kan Yu, Ruyi Yao, Shili Chen, Hao Mei, Zixuan Chen, Weiyi Chen, Yibo Fan &amp; Yang Xu,<br>
"Scheduling-Aware Buffer Management for HBM-Based Hybrid Buffers",<br>
<i>USENIX Symposium on Networked Systems Design and Implementation (NSDI)</i>
,

(2026)

</li>

<br><li value="">
Haiping Wang, Wanxin Shi, Sandesh Dhawaskar Sathyanarayana, Shu Shi, Feng Qian, Yinghao Yang, La Zuo, Hebin Yu, Ruixiao Zhang, Ruoshi Sun, Yajie Peng, Xiaofei Pang, Ruili Fang, Zhenpeng Zhu, Weiqi Chen &amp; Yang Xu,<br>
"Optimizing Midgress Bandwidth for Commercial Live Streaming CDNs",<br>
<i>USENIX Symposium on Networked Systems Design and Implementation (NSDI)</i>
,

(2026)

</li>
<br><li value="">
Xiaoqing Sun, Xing Li, Xionglie Wei, Tian Pan, Ju Zhang, Bowen Yang, Yi Wang, Ye Yang, Yu Qi, Le Yu, Chenhao Jia, Zhanlong Zhang, Xinyu Chen, Xiaobo Xue, Jianyuan Lu, Shize Zhang, Enge Song, Yang Song, Rong Wen, Biao Lyu, Yang Xu &amp; Shunmin Zhu,<br>
"ZooRoute: Enhancing Cloud-Scale Network Reliability via Candidate Path Provisioning and Overlay Proactive Rerouting",<br>
<i>USENIX Symposium on Networked Systems Design and Implementation (NSDI)</i>
,

(2026)

</li>

<li value="">
Huifeng Xing, Hao Wang, Yinfan Hu, Xin Ai, Zixuan Chen, Yang Chen, Wanxin Shi, Sen Liu &amp; Yang Xu,<br>
"3D-INA: An Exploration of Integrating In-network Aggregation into 3D Parallelism for LLM Training",<br>
<i>IEEE International Conference on Computer Communications (INFOCOM)</i>
,

(2026)

</li>
	
<br><li value="">
Jiahui Li, Han Qi, Ruyi Yao, Jialin Wei, Ruoshi Sun, Zixuan Chen, Sen Liu &amp; Yang Xu,<br>
"CClinguist: An Expert-Free Framework for Future-Compatible Congestion Control Algorithm Identification",<br>
<i>ACM SIGCOMM</i>
,

(2025)

</li>
<br><li value="">
Xiaoqing Sun, Xionglie Wei, Xing Li, Ju Zhang, Bowen Yang, Yi Wang, Ye Yang, Yu Qi, Le Yu, Chenhao Jia, Zhanlong Zhang, Xinyu Chen, Jianyuan Lu, Shize Zhang, Enge Song, Yang Song, Tian Pan, Rong Wen, Biao Lyu, Yang Xu &amp; Shunmin Zhu,<br>
"ZooRoute: Enhancing Cloud-Scale Network Reliability via Overlay Proactive Rerouting",<br>
<i>ACM SIGCOMM (SHORT PAPER)</i>
,

(2025)

</li>
	
<br><li value="">
Xin Ai, Zijian Li, Yuanyi Zhu, Zixuan Chen, Sen Liu &amp; Yang Xu,<br>
"NetJIT: Bridging the Gap from Traffic Prediction to Preknowledge for Distributed Machine Learning",<br>
<i>ACM SIGMETRICS</i>
,

(2025)

</li>


	
<br><li value="">
Zhikang Chen, Haoyu Song, Zhiyu Zhang, Yang Xu &amp; Bin Liu,<br>
"ClubHeap: A High-Speed and Scalable Priority Queue for Programmable Packet Scheduling",<br>
<i>USENIX Symposium on Networked Systems Design and Implementation (NSDI)</i>
,
1421-1436
(2025)

</li>

<br><li value="">
Tong Yun, Yinxin Kuang, Haoyu Song, Zhongyi Gu, Zhuang Ling, Zhiyu Zhangt, Huang Chengkang, Yibo Fan, Yang Xu, Jianping Wang &amp; Bin Liu,<br>
"Hardware-Accelerated Flow Interaction Graph Compression for High-Speed Anomaly Detection",<br>
<i>IEEE Conference on Computer Communications (INFOCOM)</i>
,
1-10
(2025)

</li>

<br><li value="">
Huifeng Xing, Yinfan Hu, Hao Wang, Yang Chen, Zixuan Chen, Sen Liu &amp; Yang Xu,<br>
"Enhancing In-network Aggregation with Adaptive Gradient Quantization for Multi-tenant Learning",<br>
<i>IEEE International Conference on Distributed Computing Systems (ICDCS)</i>
,

(2025)

</li>

	
<br><li value="">
Chuhao Chen, Deli Huang, Zerui Tian, Ruyi Yao, Jing Jiang, Sen Liu &amp; Yang Xu,<br>
"Empowering Flowlet Load Balancing in RDMA with Host-Based Flowlet Fine-Tuning",<br>
<i>IEEE/ACM International Symposium on Quality of Service (IWQoS)</i>
,

(2025)

</li>

	<br><li value="">
Yubing Bao, Zhihui Lu, Qiang Duan, Xin Du, Zhongyu Chen, Yicong Zhao, Xiaoyi Li, Yandan Tan, Shuhan Yang, Ziyi Wang, Yang Chen &amp; Yang Xu.,<br>
"BMapper: A Scalable and Efficient Framework for Brain Simulations Acceleration on Supercomputers",<br>
<i>Proceedings of the 52nd International Conference on Parallel Processing (ICPP)</i>
,

(2025)

</li>
<br><li value="">
Jiahui Li, Yujie Long, Mingqi Kong, Hao Mei &amp; Yang Xu,<br>
"Empowering Flowlet Load Balancing in RDMA with Host-Based Flowlet Fine-Tuning",<br>
<i>International Conference on Social Computing (ICSC)</i>
,

(2025)

</li>

	
<br><li value="">
Zhiyu Zhang, Shili Chen, Ruyi Yao, Ruoshi Sun, Hao Mei, Hao Wang, Zixuan Chen, Gaojian Fang, Yibo Fan, Wanxin Shi, Sen Liu &amp; Yang Xu,<br>
"vPIFO: Virtualized Packet Scheduler for Programmable Hierarchical Scheduling in High-Speed Networks",<br>
<i>ACM SIGCOMM</i>
,

(2024)

</li>

	<br><li value="">
Sen Liu, Yongbo Gao, Zixuan Chen, Jiarui Ye, Haiyang Xu, Furong Liang, Wei Yan, Zerui Tian, Quanwei Sun, Zehua Guo &amp; Yang Xu,<br>
"Halflife: An Adaptive Flowlet-based Load Balancer with Fading Timeout in Data Center Networks",<br>
<i>ACM European Conference on Computer Systems (EuroSys)</i>
,

(2024)

</li>
<br><li value="">
Peixuan Gao, Anthony Dalleggio, Jiajin Liu, Chen Peng, Yang Xu &amp; H. Jonathan Chao,<br>
"Sifter: An Inversion-Free and Large-Capacity Programmable Packet Scheduler",<br>
<i>USENIX Symposium on Networked Systems Design and Implementation (NSDI)</i>
,

(2024)

</li>
<br><li value="">
Yong Feng, Zhikang Chen, Haoyu Song, Yinchao Zhang, Hanyi Zhou, Ruoyu Sun, Wenkuo Dong, Peng Lu, Shuxin Liu, Chuwen Zhang, Yang Xu &amp; Bin Liu,<br>
"Empower Programmable Pipeline for Advanced Stateful Packet Processing",<br>
<i>USENIX Symposium on Networked Systems Design and Implementation (NSDI)</i>
,

(2024)

</li>

<br><li value="">
Zixuan Chen, Xuandong Liu, Minglin Li, Yinfan Hu, Hao Mei, Huifeng Xing, Hao Wang, Wanxin Shi, Sen Liu &amp; Yang Xu,<br>
"Rina: Enhancing Ring-AllReduce with In-network Aggregation in Distributed Model Training",<br>
<i>IEEE International Conference on Network Protocols (ICNP)</i>
,

(2024)

</li>
	
<br><li value="">
Zijian Li, Zixuan Chen, Yiying Tang, Xin Ai, Yuanyi Zhu, Zhigao Zhao, Jiang Shao, Guowei Liu, Sen Liu, Bin Liu &amp; Yang Xu,<br>
"MUSE: A Runtime Incrementally Reconfigurable Network Adapting to HPC Real-Time Traffic",<br>
<i>IEEE International Parallel &amp; Distributed Processing Symposium (IPDPS)</i>
,

(2024)

</li>

<br><li value="">
Chuhao Chen, Jiarui Ye, Yongbo Gao, Sen Liu &amp; Yang Xu,<br>
"HF^2T: Host-Based Flowlet Fine-Tuning for RDMA Load Balancing",<br>
<i>8th Asia-Pacific Workshop on Networking (APNET)</i>
,

(2024)

</li>
<br><li value="">
Zixuan Chen, Yifan Ruan, Sen Liu &amp; Yang Xu,<br>
"UniFL: Enabling Loss-tolerant Transmission in Federated Learning",<br>
<i>8th Asia-Pacific Workshop on Networking (APNET)</i>
,

(2024)

</li>
<br><li value="">
Ruoshi Sun, Hao Mei, Ruyi Yao, Hao Wang, Yiren Zhou, Zixuan Chen, Sen Liu &amp; Yang Xu,<br>
"TCAMVisor: High-throughput TCAM Virtualization for Multi-tenant Software Defined Networking",<br>
<i>IEEE/ACM International Symposium on Quality of Service (IWQoS)</i>
,

(2024)

</li>
<br><li value="">
Xinyi Li, Minglin Li, Xin Ai, Yongbo Gao, Jiang Shao, Zixuan Chen, Sen Liu &amp; Yang Xu,<br>
"R-PFC: Enhancing RDMA Network With Restricted And Fine-grained PFC",<br>
<i>IEEE/ACM International Symposium on Quality of Service (IWQoS)</i>
,

(2024)

</li>
<br><li value="">
Huifeng Xing, Yuyan Ding, Huiru Huang, Zixuan Chen, Sen Liu, Zehua Guo, Muath Al-Hasan, Mohamed Adel Serhani &amp; Yang Xu,<br>
"Hierarchical Sketch: An Efficient, Scalable and Latency-aware Content Caching Design for Content Delivery Networks",<br>
<i>IEEE/ACM International Symposium on Quality of Service (IWQoS)</i>
,

(2024)

</li>

<br><li value="">
Lu Cao, Qilong Shi, Yuxi Liu, Hanyue Zheng, Yao Xin, Wenjun Li, Tong Yang, Yangyang Wang, Yang Xu, Weizhe Zhang &amp; Mingwei Xu,<br>
"Bubble Sketch: A High-performance and Memory-efficient Sketch for Finding Top-k Items in Data Streams",<br>
<i>ACM International Conference on Information and Knowledge Management (CIKM)</i>
,

(2024)

</li>
<br><li value="">
Wanxin Shi, Qing Li, Qian Yu, Fulin Wang, Gengbiao Shen, Yong Jiang, Yang Xu, Lianbo Ma &amp; Gabriel-Miro Muntean,<br>
"A survey on intelligent solutions for increased video delivery quality in cloud-edge-end networks",<br>

<i>IEEE Communications Surveys &amp; Tutorials</i>,

(2024)

</li>
<br><li value="">
Yao Xin, Chengjun Jia, Wenjun Li, Ori Rottenstreich, Yang Xu, Gaogang Xie, Zhihong Tian &amp; Jun Li,<br>
"A Heterogeneous and Adaptive Architecture for Decision-tree-based ACL Engine on FPGA",<br>

<i>IEEE Transactions on Computers</i>,

(2024)

</li>
<br><li value="">
Rui Zhang, Yukai Huang, Sicheng Liang, Shangyi Sun, Shaonan Ma, Chengying Huan, Lulu Chen, Zhihui Lu, Yang Xu, Ming Yan &amp; Jie Wu,<br>
"Revisiting Learned Index with Byte-addressable Persistent Storage",<br>
<i>Proceedings of the 52nd International Conference on Parallel Processing (ICPP)</i>
,

(2024)

</li>
	

<br><li value="">
Ruyi Yao, Zhiyu Zhang, Gaojian Fang, Peixuan Gao, Sen Liu, Yibo Fan, Yang Xu &amp; H. Jonathan Chao,<br>
"BMW Tree: Large-scale, High-throughput and Modular PIFO  Implementation using Balanced Multi-Way Sorting Tree",<br>
<i>ACM SIGCOMM</i>
,

(2023)

</li>


<br><li value="">
Yao Xin, Wenjun Li, Chengjun Jia, Xianfeng Li, Yang Xu, Bin Liu, Zhihong Tian &amp; Weizhe Zhang,<br>
"Recursive Multi-Tree Construction With Efficient Rule Sifting for Packet Classification on FPGA",<br>

<i>IEEE/ACM Transactions on Networking (TON)</i>,

(2023)

</li>
	
<br><li value="">
Ruyi Yao, Cong Luo, Hao Mei, Chuhao Chen, Wenjun Li, Ying Wan, Sen Liu, Bin Liu &amp; Yang Xu,<br>
"CoLUE: Collaborative TCAM Update in SDN Switches",<br>
<i>IEEE Conference on Computer Communications (INFOCOM)</i>
,

(2023)

</li>

	
<br><li value="">
Zixuan Chen, Lei Shi, Xuandong Liu, Jiahui Li, Sen Liu &amp; Yang Xu,<br>
"OSP: Boosting Distributed Model Training with 2-stage Synchronization",<br>

<i>ACM International Conference on Parallel Processing (ICPP) </i>,

(2023) <b> -- Best Paper Nominee</b> 

</li>


<br><li value="">
Zixuan Chen, Zhigao Zhao, Zijian Li, Jiang Shao, Sen Liu &amp; Yang Xu,<br>
"SDT: A Low-cost and Topology-reconfigurable Testbed for Network Research",<br>

<i>IEEE Cluster</i>,

(2023)

</li>
	
		
<br><li value="">
Jiang Shao, Minglin Li, Xinyi Li, Guowei Liu, Sen Liu, Bin Liu &amp; Yang Xu,<br>
"RaceCC: A Rapidly Converging Explicit CongestionControl for Datacenter Networks",<br>

<i>Journal of Network and Computer Applications (JNCA)</i>,

(2023)

</li>
<br><li value="">
Jiang Shao, Xinyi Li, Minglin Li, Sen Liu &amp; Yang Xu,<br>
"S-PFC: Enabling Semi-Lossless RDMA Network with Selective Response to PFC",<br>
<i>IEEE Symposium on Computers and Communications (ISCC)</i>
,

(2023)

</li>
	
<br><li value="">
Yao Xin, Wenjun Li, Gaogang Xie, Yang Xu &amp; Yi Wang,<br>
"A Parallel and Updatable Architecture for FPGA-based Packet Classification with Large-Scale Rule Sets",<br>

<i>IEEE Micro (Micro)</i>,

(2023)

</li>	
	
<br><li value="">
Qilong Shi, Yuchen Xu, Jiuhua Qi, Wenjun Li, Tong Yang, Yang Xu &amp; Yi Wang,<br>
"Cuckoo Counter: Adaptive Structure of Counters for Accurate Frequency and Top-k Estimation",<br>

<i>IEEE/ACM Transactions on Networking (TON)</i>,

(2023)

</li>
	
<br><li value="">
Hao Mei, Ruoshi Sun, Ruyi Yao, Chuhao Chen, Cong Luo, Zixuan Chen, Jiahui Li, Sen Liu &amp; Yang Xu,<br>
"Rusen: Rule Semantics Enabler toward Fast TCAMUpdate for Commodity SDN Switches",<br>
<i>IEEE/ACM International Symposium on Quality of Service (IWQoS)</i>
,

(2023)

</li>
<br><li value="">
Zixuan Chen, Lei Shi, Xuandong Liu, Xin Ai, Sen Liu &amp; Yang Xu,<br>
"Boosting Distributed Machine Learning Training Through Loss-tolerant Transmission Protocol",<br>
<i>IEEE/ACM International Symposium on Quality of Service (IWQoS)</i>
,

(2023)

</li>	

<br><li value="">
Mohamed Adel Serhani, Haftay Gebreslasie Abreha, Asadullah Tariq, Mohammad Hayajneh, Yang Xu &amp; Kadhim Hayawi,<br>
"Dynamic Data Sample Selection and Scheduling in Edge Federated Learning",<br>

<i>IEEE Open Journal of the Communications Society</i>,

(2023)

</li>
	
<br><li value="">
Zakaria Maamar, Amel Benna, Minglin Li, Huiru Huang &amp; Yang Xu,<br>
"ODRL-based Resource Definition in Business Processes",<br>
<i>International Conference on Software (ICSOFT)</i>
,

(2023)

</li>
<br><li value="">
Zakaria Maamar, Amel Benna, Yang Xu, Mohamed Adel Serhani, Minglin Li, Huiru Huang, Wassim Benadjel &amp; Nacereddine Sitouah,<br>
"How to make IoT Sensitive to Privacy? An Approach based on ODRL and illustrated with WoT TD",<br>
<i>International Conference on Software (ICSOFT)</i>
,

(2023)

</li>	

	
<br><li value="">
Jiaxin Tang, Sen Liu, Yang Xu, Zehua Guo, Junjie Zhang, Peixuan Gao, Yang Chen, Xin Wang &amp; H. Jonathan Chao,<br>
"ABS: Adaptive Buffer Sizing via Augmented Programmability with Machine Learning",<br>
<i>IEEE International Conference on Computer Communications (INFOCOM)</i>
,

(2022)

</li>	
<br><li value="">
Peixuan Gao, Anthony Dalleggio, Yang Xu &amp; H. Jonathan Chao,<br>
"Gearbox: A Hierarchical Packet Scheduler for Approximate Weighted Fair Queuing",<br>
<i>USENIX Symposium on Networked Systems Design and Implementation (NSDI)</i>
,

(2022)

</li>	
		

<br><li value="">
Yibo Huang, Yukai Huang, Ming Yan, Jiayu Hu, Cunming Liang, Yang Xu, Wenxiong Zou, Yiming Zhang, Rui Zhang, Chunpu Huang &amp; Jie Wu,<br>
"An Ultra-Low Latency and Compatible PCIe Interconnect for Rack-scale Communication",<br>
<i>ACM International Conference on emerging Networking EXperiments and Technologies (CoNEXT) </i>
,

(2022) 	<b> -- Best Paper Award</b> 

</li>
	
	
<br><li value="">
Yao Xin, Wenjun Li, Gaogang Xie, Yang Xu &amp; Yi Wang,<br>
"Updatable Packet Classification on FPGA with Bounded Worst-Case Performance",<br>
<i>IEEE Hot Interconnects (HotI)</i>,

(2022)

</li>
<br><li value="">
Chuwen Zhang, Boyang Zhou, Zerui Tian, Liang Cheng, Yuxi Liu, Huayu Zhang, Song Chen, Ying Wan, Wenquan Xu, Tian Pan, Yang Xu, Yi Wang, Hailong Zhu &amp; Bin Liu,<br>
"TSN-Peeper: an Efficient Traffic Monitor in Time-Sensitive Networking",<br>
<i>IEEE International Conference on Network Protocols (ICNP)</i>,

(2022)

</li>
<br>
	

	
<li value="">
Sen Liu, Furong Liang, Wei Yan, Zehua Guo, Xiang Lin &amp; Yang Xu,<br>
"ERA: Meeting the Fairness between Sender-driven and Receiver-driven Transmission Protocols in Data Center Networks",<br>
<i>IEEE International Conference on Distributed Computing Systems (ICDCS)</i>,

(2022)

</li>
<br><li value="">
Cong Luo, Chuhao Chen, Hao Mei, Ruyi Yao, Ying Wan, Wenjun Li, Sen Liu, Bin Liu &amp; Yang Xu,<br>
"BubbleTCAM: Bubble Reservation in SDN Switches for Fast TCAM Update",<br>
<i>IEEE/ACM International Symposium on Quality of Service (IWQoS)</i>,

(2022)

</li>	
<br>	
	
	
<li value="">
Zehua Guo, Jiayu Wang, Sen Liu, Jineng Ren, Yang Xu &amp; Chao Yao,<br>
"Congestion-aware Critical Gradient Scheduling for Distributed Machine Learning in Data Center Networks",<br>

<i>IEEE Transactions on Cloud Computing (TCC)</i>,

(2022)

</li>
<br><li value="">
Zehua Guo, Jiayu Wang, Sen Liu, Jineng Ren, Yang Xu &amp; Yi Wang,<br>
"SpongeTraining: Achieving High Efficiency and Accuracy for Wireless Edge-assisted Online Distributed Learning",<br>

<i>IEEE Transactions on Mobile Computing (TMC)</i>,

(2022)

</li>


	
<br><li value="">
Zehua Guo, Songshi Dou, Wendi Feng, Sen Liu, Wenchao Jiang, Yang Xu &amp; Zhi-Li Zhang,<br>
"Maintaining Control Resiliency and Flow Programmability in Software-Defined WANs During Controller Failures",<br>

<i>IEEE/ACM Transactions on Networking (TON)</i>,

(2022)

</li>
<br><li value="">
Penghao Sun, Zehua Guo, Junfei Li, Yang Xu, Julong Lan &amp; Yuxiang Hu,<br>
"Enabling Scalable Routing in Software-Defined Networks With Deep Reinforcement Learning on Critical Nodes",<br>

<i>IEEE/ACM Transactions on Networking (TON)</i>,

(2022)

</li>


<br><li value="">
Kuan-yin Chen, Sen Liu, Yang Xu, Ishant Kumar Siddhrau, Siyu Zhou, Zehua Guo &amp; H. Jonathan Chao,<br>
"SDNShield: NFV-Based Defense Framework Against DDoS Attacks on SDN Control Plane",<br>

<i>IEEE/ACM Transactions on Networking (TON)</i>,

(2021)

</li>
	
<br><li value="">
Ruyi Yao, Cong Luo, Xuandong Liu, Ying Wan, Bin Liu, Wenjun Li &amp; Yang Xu,<br>
"MagicTCAM: A Multiple-TCAM Scheme for Fast TCAM Update",<br>
<i>IEEE International Conference on Network Protocols (ICNP)</i>
,

(2021)

</li>
<br><li value="">
Chuwen Zhang, Zhikang Chen, Haoyu Song, Ruyi Yao, Yang Xu, Yi Wang, Ji Miao &amp; Bin Liu,<br>
"PIPO: Efficient Programmable Scheduling for Time Sensitive Networking",<br>
<i>IEEE International Conference on Network Protocols (ICNP)</i>
,

(2021)

</li>	
	
<br><li value="">
Bin Dai, Yuanyuan Cao, Zhongli Wu, Zhewei Dai, Ruyi Yao &amp; Yang Xu,<br>
"Routing Optimization Meets Machine Intelligence: A Perspective for the Future Network",<br>

<i>Neurocomputing</i>,

(2021)

</li>
<br><li value="">
Peixuan Gao, Yang Xu &amp; H. Jonathan Chao,<br>
"OVS-CAB: Efficient rule-caching for Open vSwitch hardware offloading",<br>

<i>Computer Networks</i>,

(2021)

</li>
<br><li value="">
Zehua Guo, Songshi Dou, Yi Wang, Sen Liu, Wendi Feng &amp; Yang Xu,<br>
"HybridFlow: Achieving Load Balancing in Software-Defined WANs with Scalable Routing",<br>

<i>IEEE Transactions on Communications</i>,

(2021)

</li>
<br><li value="">
Sen Liu, Xiang Lin, Zehua Guo, Yi Wang, Mohamed Adel Serhani &amp; Yang Xu,<br>
"Optimizing Flow Completion Time via Adaptive Buffer Management in Data Center Networks",<br>
<i>ACM International Conference on Parallel Processing (ICPP)</i>
,

(2021)

</li>
<br><li value="">
Yihan Ma, Hua Sun, Yang Chen, Jiayun Zhang, Yang Xu, Xin Wang &amp; Pan Hui,<br>
"DeepPredict: A Zone Preference Prediction System for Online Lodging Platforms",<br>

<i>Journal of Social Computing</i>,
52-70
(2021)

</li>
<br><li value="">
Tian Pan, Xiaoyu Peng, Qianqian Shi, Zizheng Bian, Xingchen Lin, Enge Song, Fuliang Li, Yang Xu &amp; Tao Huang,<br>
"GreenTE.ai: Power-Aware Traffic Engineering via Deep Reinforcement Learning",<br>
<i>IEEE/ACM International Symposium on Quality of Service (IWQoS)</i>
,

(2021)

</li>
<br><li value="">
Ying Wan, Haoyu Song, Yang Xu, Chuwen Zhang, Yi Wang &amp; Bin Liu,<br>
"Adaptive Batch Update in TCAM: How Collective Optimization Beats Individual Ones",<br>
<i>IEEE International Conference on Computer Communications (INFOCOM)</i>
,

(2021)

</li>
<br><li value="">
Ying Wan, Haoyu Song, Hao Che, Yang Xu, Yi Wang, Chuwen Zhang, Zhijun Wang, Tian Pan, Hao Li, Hong Jiang, Chengchen Hu &amp; Bin Liu,<br>
"FastUp: Fast TCAM Update for SDN Switches inDatacenter Network",<br>
<i>IEEE International Conference on Distributed Computing Systems (ICDCS)</i>
,

(2021)

</li>
<br><li value="">
Ying Wan, Haoyu Song, Yang Xu, Yilun Wang, Tian Pan, Chuwen Zhang, Yi Wang &amp; Bin Liu,<br>
"T-cache: Efficient Policy-based Forwarding Using Small TCAM",<br>

<i>IEEE/ACM Transactions on Networking (TON)</i>,

(2021)

</li>
<br><li value="">
Yao Xin, Yuxi Liu, Wenjun Li, Ruyi Yao, Yang Xu &amp; Yi Wang,<br>
" KickTree: A Recursive Algorithmic Scheme for Packet Classification with Bounded Worst-Case Performance",<br>
<i>Proceedings of the 2021 ACM/IEEE Seventh Symposium on Architectures for Networking and Communications Systems (ANCS)</i>
,

(2021)

</li>

<br><li value="">
Wei Yan, Sen Liu, Furong Liang, Zijian Zijian, Yi Wang &amp; Yang Xu,<br>
"Research Progress of Receiver-Driven Transmission Control Protocols in Data Center Networks",<br>

<i>Peng Cheng Laboratory Communications, Invited Paper (in Chinese)</i>,

(2021)

</li>
<br><li value="">
Soheil Abbasloo, Yang Xu &amp; H. Jonathan Chao,<br>
"To schedule or not to schedule: when no-scheduling can beat the best-known flow scheduling algorithm in datacenter networks",<br>

<i>Computer Networks</i>,
107177
(2020)

</li>
<br><li value="">
Ashkan Aghdai, Cing-Yu Chu, Yang Xu, David Dai, Jun Xu &amp; Jonathan Chao,<br>
"Spotlight: Scalable transport layer load balancing for data center networks",<br>

<i>IEEE Transactions on Cloud Computing</i>,

(2020)

</li>
<br><li value="">
Yuanyuan Cao, Bin Dai, Yijun Mo &amp; Yang Xu,<br>
"IQoR: An Intelligent QoS-aware Routing Mechanism with Deep Reinforcement Learning",<br>
<i>IEEE Conference on Local Computer Networks (LCN)</i>
,
329-332
(2020)

</li>
<br><li value="">
Bin Dai, Fanglin Xu, Yuanyuan Cao &amp; Yang Xu,<br>
"Hybrid Sensing Data Fusion of Cooperative Perception for Autonomous Driving With Augmented Vehicular Reality",<br>

<i>IEEE Systems Journal</i>,

(2020)

</li>
<br><li value="">
Zehua Guo, Yang Xu, Ya-Feng Liu, Sen Liu, H. Jonathan Chao, Zhi-Li Zhang &amp; Yuanqing Xia,<br>
"AggreFlow: Achieving Power Efficiency, Load Balancing, and Quality of Service in Data Center Networks",<br>

<i>IEEE/ACM Transactions on Networking (TON)</i>,

(2020)

</li>
<br><li value="">
Penghao Sun, Julong Lan, Zehua Guo, Yang Xu &amp; Yuxiang Hu,<br>
"Improving the scalability of deep reinforcement learning-based routing with control on partial nodes",<br>
<i>IEEE International Conference on Acoustics, Speech and Signal Processing (ICASSP)</i>
,
3557-3561
(2020)

</li>
<br><li value="">
Ying Wan, Haoyu Song, Hao Che, Yang Xu, Yi Wang, Chuwen Zhang, Zhijun Wang, Tian Pan, Hao Li, Hong Jiang &amp; others,<br>
"FastUp: Compute a Better TCAM Update Scheme in Less Time for SDN Switches",<br>
<i>2020 IEEE 40th International Conference on Distributed Computing Systems (ICDCS)</i>
,
1175-1176
(2020)

</li>
<br><li value="">
Kun Yang, Lu Xu, Yang Xu &amp; Jonathan Chao,<br>
"Encrypted Application Classification with Convolutional Neural Network",<br>
<i>2020 IFIP Networking Conference (Networking)</i>
,
499-503
(2020)

</li>
<br><li value="">
Chuwen Zhang, Yi Wang, Ruyi Yao, Boyang Zhou, Liang Cheng, Yang Xu, Xiaoguang Li, Jian Cheng &amp; Bin Liu,<br>
"Packet-size aware scheduling algorithms in guard band for time sensitive networking",<br>

<i>CCF Transactions on Networking</i>,
1-17
(2020)

</li>
<br><li value="">
Ying Wan, Haoyu Song, Yang Xu, Yilun Wang, Tian Pan, Chunwen Zhang &amp; Bin Liu,<br>
"T-cache: Dependency-free Ternary Rule Cache for Policy-based Forwarding",<br>
<i>IEEE International Conference on Computer Communications (INFOCOM)</i>
,

(2020)

</li>
<br><li value="">
Kun Yang, Junjie Zhang, Yang Xu &amp; Jonathan Chao,<br>
"Distributed Denial of Service Attacks Detection with Autoencoder",<br>
<i>IEEE Network Operations and Management Symposium (NOMS)</i>
,

(2020)

</li>
<br><li value="">
Soheil Abbasloo, Yang Xu, H. Jonathon Chao, Hang Shi, Ulas C. Kozat &amp; Yinghua Ye,<br>
"Toward Optimal Performance with Network Assisted TCP at Mobile Edge",<br>
<i>2nd USENIX Workshop on Hot Topics in Edge Computing (HotEdge 19)</i>
,

(2019)
&nbsp;<a href="https://www.usenix.org/conference/hotedge19/presentation/abbasloo">PDF</a>
</li>
<br><li value="">
Yang Xu, Shikhar Shukla, Zehua Guo, Sen Liu, Adrian S.-W. Tam, Kang Xi &amp; H. Jonathan Chao,<br>
"RAPID: Avoiding TCP Incast Throughput Collapse in Public Clouds With Intelligent Packet Discarding",<br>

<i>IEEE Journal on Selected Areas in Communications (JSAC)</i>,
1911-1923
(2019)

</li>
<br><li value="">
Soheil Abbasloo, Yang Xu &amp; H. Jonathan Chao,<br>
"C2TCP: A Flexible Cellular TCP to Meet Stringent Delay Requirements",<br>

<i>IEEE Journal on Selected Areas in Communications (JSAC)</i>,

(2019)

</li>
<br><li value="">
Ashkan Aghdai, Michael I.-C. Wang, Yang Xu, Charles H.-P. Wen &amp; H. Jonathan Chao,<br>
"In-network Congestion-aware Load Balancing at Transport Layer",<br>
<i>IEEE Conference on Network Function Virtualization and Software Defined Networks (NFV-SDN)</i>
,

(2019)

</li>
<br><li value="">
Zehua Guo, Wendi Feng, Sen Liu, Wenchao Jiang, Yang Xu &amp; Zhi-Li Zhang,<br>
"RetroFlow: Maintaining Control Resiliency and Flow Programmability for Software-defined WANs",<br>
<i>Proceedings of the International Symposium on Quality of Service (IWQoS)</i>
,
1:1-1:10
(2019)
&nbsp;<a href="http://doi.acm.org/10.1145/3326285.3329036">PDF</a>
</li>
<br><li value="">
Zehua Guo, Weikun Chen, Ya-Feng Liu, Yang Xu &amp; Zhi-Li Zhang,<br>
"Joint Switch Upgrade and Controller Deployment in Hybrid Software-Defined Networks",<br>

<i>IEEE Journal on Selected Areas in Communications (JSAC)</i>,

(2019)

</li>
<br><li value="">
Yingya Guo, Zhiliang Wang, Zhifeng Liu, Xia Yin, Xingang Shi, Jianping Wu, Yang Xu &amp; H. Jonathan Chao,<br>
"SOTE: Traffic Engineering in Hybrid Software Defined Networks",<br>

<i>Computer Networks</i>,

(2019)

</li>
<br><li value="">
Penghao Sun, Junfei Li, Zehua Guo, Yang Xu, Julong Lan &amp; Yuxiang Hu,<br>
"SINET: Enabling Scalable Network Routing with Deep Reinforcement Learning on Partial Nodes",<br>
<i>Proceedings of the ACM SIGCOMM 2019 Conference Posters and Demos</i>
,
88-89
(2019)
&nbsp;<a href="http://doi.acm.org/10.1145/3342280.3342317">PDF</a>
</li>
<br><li value="">
Yang Xu, Marco Cello, I.-Chih Wang, Anwar Walid, Gordon Wilfong, Charles H.-P. Wen, Mario Marchese &amp; H. Jonathan Chao,<br>
"Dynamic Switch Migration in Distributed Software-Defined Networks to Achieve Controller Load Balance",<br>

<i>IEEE Journal on Selected Areas in Communications (JSAC)</i>,
515-529
(2019)

</li>
<br><li value="">
Yihan Ma, Hua Sun, Yang Chen, Jiayun Zhang, Yang Xu, Xin Wang &amp; Pan Hui,<br>
"DeepLoc: A Location Preference Prediction System for Online Lodging Platforms",<br>
<i>CCF Conference on Computer Supported Cooperative Work and Social Computing</i>
,

(2019)

</li>
<br><li value="">
Soheil Abbasloo, Tong Li, Yang Xu &amp; H. Jonathan Chao,<br>
"Cellular controlled delay tcp (c2tcp)",<br>

<i>17th International IFIP TC6 Networking Conference (IFIP Networking)</i>,

(2018)

</li>
<br><li value="">
Soheil Abbasloo, Yang Xu &amp; H. Jonathan Chao,<br>
"Hyline: a simple and practical flow scheduling for commodity datacenters",<br>
<i>2018 IFIP Networking Conference (IFIP Networking)</i>
<i>17th International IFIP TC6 Networking Conference (IFIP Networking)</i>,

(2018)

</li>
<br><li value="">
Ashkan Aghdai, Mark Huang, David Dai, Yang Xu &amp; Jonathan Chao,<br>
"Transparent Edge Gateway for Mobile Networks",<br>
<i>2018 IEEE 26th International Conference on Network Protocols (ICNP), P4 Workshop</i>
,
412-417
(2018)

</li>
<br><li value="">
Zehua Guo, Yang Xu, Ruoyan Liu, Andrey Gushchin, Kuan-yin Chen, Anwar Walid &amp; H. Jonathan Chao,<br>
"Balancing flow table occupancy and link utilization in software-defined networks",<br>

<i>Future Generation Computer Systems</i>,
213-223
(2018)

</li>
<br><li value="">
Bo Yan, Yang Xu &amp; H. Jonathan Chao,<br>
"Adaptive wildcard rule cache management for software-defined networks",<br>

<i>IEEE/ACM Transactions on Networking (TON)</i>,
962-975
(2018)

</li>
<br><li value="">
Bo Yan, Yang Xu &amp; H. Jonathan Chao,<br>
"BigMaC: Reactive Network-Wide Policy Caching for SDN Policy Enforcement",<br>

<i>IEEE Journal on Selected Areas in Communications (JSAC)</i>,
2675-2687
(2018)

</li>
<br><li value="">
Siyu Zhou, Prasad Prakash Netalkar, Yanan Chang, Yang Xu &amp; Jonathan Chao,<br>
"The MEC-based Architecture Design for Low-latency and Fast Hand-off Vehicular Networking",<br>
<i>2018 IEEE Vehicular Technology Conference</i>
,

(2018)

</li>
<br><li value="">
Ashkan Aghdai, Yang Xu &amp; H. Jonathan Chao,<br>
"Design of a hybrid modular switch",<br>
<i>2017 IEEE Conference on Network Function Virtualization and Software Defined Networks (NFV-SDN)</i>
,
1-6
(2017)

</li>
<br><li value="">
Marco Cello, Yang Xu, Anwar Walid, Gordon Wilfong, H. Jonathan Chao &amp; Mario Marchese,<br>
"Balcon: A distributed elastic SDN control via efficient switch migration",<br>
<i>2017 IEEE International Conference on Cloud Engineering (IC2E)</i>
,
40-50
(2017)

</li>
<br><li value="">
Bin Dai, Guan Xu, Bengxiong Huang, Peng Qin &amp; Yang Xu,<br>
"Enabling network innovation in data center networks with software defined networking: A survey",<br>

<i>Journal of Network and Computer Applications (JNCA)</i>,
33-49
(2017)

</li>
<br><li value="">
Zehua Guo, Ruoyan Liu, Yang Xu, Andrey Gushchin, Anwar Walid &amp; H. Jonathan Chao,<br>
"STAR: Preventing flow-table overflow in software-defined networks",<br>

<i>Computer Networks</i>,
15-25
(2017)

</li>
<br><li value="">
Bo Yan, Shu Shi, Yong Liu, Weizhe Yuan, Haoqin He, Rittwik Jana, Yang Xu &amp; H. Jonathan Chao,<br>
"LiveJack: Integrating CDNs and Edge Clouds for Live Content Broadcasting",<br>
<i>Proceedings of the 25th ACM international conference on Multimedia (MM)</i>
,
73-81
(2017)

</li>
<br><li value="">
Kuan-yin Chen, Anudeep Reddy Junuthula, Ishant Kumar Siddhrau, Yang Xu &amp; H. Jonathan Chao,<br>
"SDNShield: Towards more comprehensive defense against DDoS attacks on SDN control plane",<br>
<i>2016 IEEE Conference on Communications and Network Security (CNS)</i>
,
28-36
(2016)

</li>
<br><li value="">
Zehua Guo, Shufeng Hui, Yang Xu &amp; H. Jonathan Chao,<br>
"Dynamic flow scheduling for power-efficient data center networks",<br>
<i>2016 IEEE/ACM 24th International Symposium on Quality of Service (IWQoS)</i>
,
1-10
(2016)

</li>
<br><li value="">
Rihua Wei, Yang Xu &amp; H. Jonathan Chao,<br>
"Finding nonequivalent classifiers in Boolean space to reduce TCAM usage",<br>

<i>IEEE/ACM Transactions on Networking (TON)</i>,
968-981
(2016)

</li>
<br><li value="">
Bo Yan, Rittwik Jana, Shu Shi, Yang Xu, Bo Han, Vijay Gopalakrishnan, Lusheng Ji &amp; H. Jonathan Chao,<br>
"Architecting Multimedia Conferencing Service using SDN",<br>
<i>Proceedings of the 2016 ACM Workshop on Cloud-Assisted Networking</i>
,
13-18
(2016)

</li>
<br><li value="">
Zehua Guo, Yang Xu, Marco Cello, Junjie Zhang, Zicheng Wang, Mingjian Liu &amp; H. Jonathan Chao,<br>
"JumpFlow: Reducing flow table usage in software-defined networks",<br>

<i>Computer Networks</i>,
300-315
(2015)

</li>
<br><li value="">
Zehua Guo, Mu Su, Yang Xu, Zhemin Duan, Luo Wang, Shufeng Hui &amp; H. Jonathan Chao,<br>
"Improving the performance of load balancing in software-defined networks through load variance-based synchronization",<br>

<i>Computer Networks</i>,
95-109
(2014)

</li>
<br><li value="">
Zehua Guo, Zhemin Duan, Yang Xu &amp; H. Jonathan Chao,<br>
"JET: Electricity cost-aware dynamic workload management in geographically distributed datacenters",<br>

<i>Computer Communications</i>,
162-174
(2014)

</li>
<br><li value="">
Shikhar Shukla, Shingau Chan, Adrian S.-W. Tam, Abhishek Gupta, Yang Xu &amp; H. Jonathan Chao,<br>
"TCP PLATO: packet labelling to alleviate time-out",<br>

<i>IEEE Journal on Selected Areas in Communications (JSAC)</i>,
65-76
(2014)

</li>
<br><li value="">
Xiaofei Wang, Bin Liu, Junchen Jiang, Yang Xu, Yi Wang &amp; Xiaojun Wang,<br>
"Kangaroo: Accelerating string matching by running multiple collaborative finite state machines",<br>

<i>IEEE Journal on Selected Areas in Communications (JSAC)</i>,
1784-1796
(2014)

</li>
<br><li value="">
Indra Widjaja, Anwar Walid, Yanbin Luo, Yang Xu &amp; H. Jonathan Chao,<br>
"The importance of switch dimension for energy-efficient datacenter design",<br>

<i>Computer Communications</i>,
152-161
(2014)

</li>
<br><li value="">
Indra Widjaja, Anwar Walid, Yanbin Luo, Yang Xu &amp; H. Jonathan Chao,<br>
"Switch sizing for energy-efficient datacenter networks",<br>

<i>ACM SIGMETRICS Performance Evaluation Review</i>,
98-100
(2014)

</li>
<br><li value="">
Yang Xu, Zhaobo Liu, Zhuoyuan Zhang &amp; H. Jonathan Chao,<br>
"High-throughput and memory-efficient multimatch packet classification based on distributed and pipelined hash tables",<br>

<i>IEEE/ACM Transactions on Networking (TON)</i>,
982-995
(2014)

</li>
<br><li value="">
Yang Xu, Junchen Jiang, Rihua Wei, Yang Song &amp; H. Jonathan Chao,<br>
"TFA: A Tunable Finite Automaton for Pattern Matching in Network Intrusion Detection Systems",<br>

<i>IEEE Journal on Selected Areas in Communications (JSAC)</i>,
1810-1821
(2014)

</li>
<br><li value="">
Bo Yan, Yang Xu, Hongya Xing, Kang Xi &amp; H. Jonathan Chao,<br>
"Cab: A reactive wildcard rule caching system for software-defined networks",<br>
<i>Proceedings of the third ACM SIGCOMM Workshop on Hot Topics in Software Defined Networking (HotSDN)</i>
,
163-168
(2014)

</li>
<br><li value="">
Kuan-yin Chen, Yang Xu, Kang Xi &amp; H. Jonathan Chao,<br>
"Intelligent virtual machine placement for cost efficiency in geo-distributed cloud systems",<br>
<i>2013 IEEE International Conference on Communications (ICC)</i>
,
3498-3503
(2013)

</li>
<br><li value="">
Zehua Guo, Zhemin Duan, Yang Xu &amp; H. Jonathan Chao,<br>
"Cutting the electricity cost of distributed datacenters through smart workload dispatching",<br>

<i>IEEE communications letters</i>,
2384-2387
(2013)

</li>
<br><li value="">
Xiaofei Wang, Yang Xu, Junchen Jiang, Olga Ormond, Bin Liu &amp; Xiaojun Wang,<br>
"Strifa: Stride finite automata for high-speed regular expression matching in network intrusion detection systems",<br>

<i>IEEE Systems Journal</i>,
374-384
(2013)

</li>
<br><li value="">
Indra Widjaja, Anwar Walid, Yanbin Luo, Yang Xu &amp; H. Jonathan Chao,<br>
"Small versus large: Switch sizing in topology design of energy-efficient data centers",<br>
<i>2013 IEEE/ACM 21st International Symposium on Quality of Service (IWQoS)</i>
,
1-6
(2013)

</li>
<br><li value="">
Najla Alfaraj, Yang Xu &amp; H. Jonathan Chao,<br>
"A practical and scalable congestion control scheme for high-performance multi-stage buffered switches",<br>
<i>2012 IEEE 13th International Conference on High Performance Switching and Routing (HPSR)</i>
,
44-51
(2012)

</li>
<br><li value="">
Adrian S.-W. Tam, Kang Xi, Yang Xu &amp; H. Jonathan Chao,<br>
"Preventing TCP incast throughput collapse at the initiation, continuation, and termination",<br>
<i>Proceedings of the 2012 IEEE 20th International Workshop on Quality of Service (IWQoS)</i>
,
29
(2012)

</li>
<br><li value="">
Rihua Wei, Yang Xu &amp; H. Jonathan Chao,<br>
"Block permutations in Boolean space to minimize TCAM for packet classification",<br>
<i>IEEE International Conference on Computer Communications (INFOCOM)</i>
,
2561-2565
(2012)

</li>
<br><li value="">
Najla Alfaraj, Junjie Zhang, Yang Xu &amp; H. Jonathan Chao,<br>
"Hope: Hotspot congestion control for clos network on chip",<br>
<i>Proceedings of the Fifth ACM/IEEE International Symposium on Networks-on-Chip (NOCS)</i>
,
17-24
(2011)

</li>
<br><li value="">
Yang Xu, Lei Ma, Zhaobo Liu &amp; H. Jonathan Chao,<br>
"A multi-dimensional progressive perfect hashing for high-speed string matching",<br>
<i>Proceedings of the 2011 ACM/IEEE Seventh Symposium on Architectures for Networking and Communications Systems (ANCS)</i>
,
167-177
(2011)

</li>
<br><li value="">
Junchen Jiang, Yang Xu, Tian Pan, Yi Tang &amp; Bin Liu,<br>
"Pattern-based DFA for memory-efficient and scalable multiple regular expression matching",<br>
<i>2010 IEEE International Conference on Communications (ICC)</i>
,
1-5
(2010)

</li>
<br><li value="">
Junchen Jiang, Yi Tang, Bin Liu, Yang Xu &amp; Xiaofei Wang,<br>
"Skip finite automaton: A content scanning engine to secure enterprise networks",<br>
<i>2010 IEEE Global Telecommunications Conference (GLOBECOM) 2010</i>
,
1-5
(2010)

</li>
<br><li value="">
Yi Tang, Junchen Jiang, Xiaofei Wang, Bin Liu &amp; Yang Xu,<br>
"Independent parallel compact finite automatons for accelerating multi-string matching",<br>
<i>2010 IEEE Global Telecommunications Conference (GLOBECOM) 2010</i>
,
1-5
(2010)

</li>
<br><li value="">
Yang Xu, Tang Jiang, Ming Yang &amp; H. Jonathan Chao,<br>
"Reservation Cut-through Switching Allocation for High-Radix Clos Network on Chip",<br>
<i>NYU Technical Report</i>
,

(2010)

</li>
<br><li value="">
Junchen Jiang, Yi Tang, Bin Liu, Xiaofei Wang &amp; Yang Xu,<br>
"SPC-FA: Synergic parallel compact finite automaton to accelerate multi-string matching with low memory",<br>
<i>Proceedings of the 5th ACM/IEEE Symposium on Architectures for Networking and Communications Systems (ANCS)</i>
,
163-164
(2009)

</li>
<br><li value="">
Yang Xu, Zhaobo Liu, Zhuoyuan Zhang &amp; H. Jonathan Chao,<br>
"An ultra high throughput and memory efficient pipeline architecture for multi-match packet classification without TCAMs",<br>
<i>Proceedings of the 5th ACM/IEEE Symposium on Architectures for Networking and Communications Systems (ANCS)</i>
,
189-198
(2009)

</li>
<br><li value="">
Zhiyong Liang, Yang Xu &amp; Yabin Dang,<br>
"Intra-File-Level Parallelism on XML Parsing: Framework and Performance Evaluation.",<br>
<i>HPCNCS</i>
,
67-74
(2008)

</li>
<br><li value="">
Yang Xu, Zhen-kun Wen &amp; Bin Liu,<br>
"Employing Iteration-sharing in the scheduling algorithm of Switch-Memory-Switch Architecture",<br>

<i>Journal of Tsinghua University (in Chinese)</i>,
38
(2008)

</li>
<br><li value="">
Nan Hua, Yang Xu, Bin Liu, Depeng Jin &amp; Lieguang Zeng,<br>
"Emulating FCFS OQ with Buffered Crossbar Based Distributed Shared Memory Switch",<br>
<i>2007 IEEE International Conference on High Performance Switching and Routing (HPSR)</i>
,
1-6
(2007)

</li>
<br><li value="">
Yang Xu, Yi Tang, Zhen-kun Wen &amp; Bin Liu,<br>
"Extended Maximal Matching Algorithm in High-Speed Switches",<br>

<i>Acta Electronica Sinica</i>,
1809
(2007)

</li>
<br><li value="">
Yang Xu, Bin Liu, Gao Xia &amp; Dong Lin,<br>
"Iteration-shared Scheduling Algorithms Abolishing the Departure-time-compatible Graph in Switch-Memory-Switch Switches",<br>
<i>IEEE International Conference on Computer Communications (INFOCOM)</i>
,
1622-1630
(2007)

</li>
<br><li value="">
Yang Xu, Yi Tang, Zhengkun Wen &amp; Bin Liu,<br>
"Extended Maximal Matching Algorithm in High-Speed Switches",<br>

<i>Journal of Electronics (in Chinese)</i>,
1809-1816
(2007)

</li>
<br><li value="">
Nan Hua, Yang Xu, Peng Wang, Depeng Jin &amp; Lieguang Zeng,<br>
"A Practical Switch-Memory-Switch Architecture Emulating PIFO OQ",<br>
<i>IEEE Globecom 2006</i>
,
1-6
(2006)

</li>
<br><li value="">
Wen-Jie Li, Bin Liu, Yang Xu &amp; Heng Liao,<br>
"Parallel switch system with QoS guarantee for real-time traffic",<br>

<i>Journal of Computer Science and Technology</i>,
1012-1021
(2006)

</li>
<br><li value="">
Wen-Jie Li, Bin Liu, Yang Xu &amp; Heng Liao,<br>
"保证实时业务 QoS 的并行交换机构",<br>

<i>计算机科学技术学报</i>,
1012-1021
(2006)

</li>
<br><li value="">
Yang Xu, Bin Liu, Beibei Wu &amp; Wei Li,<br>
"Using Recirculation in Banyan-Memory-Crossbar Switchesto Decrease Cell Loss Rate"",<br>
<i>ANCHOR 2006, Held in conjunction with the 33rdAnnual International Symposium on Computer Architecture (ISCA)</i>
,

(2006)

</li>
<br><li value="">
Wenjie Li, Lei Shi, Yang Xu &amp; Bin Liu,<br>
"Efficient approach to merge and segment IP packets",<br>
<i>International Conference on Networking and Mobile Computing</i>
,
1042-1051
(2005)

</li>
<br><li value="">
Xudong Li, Yang Xu, Jing Li &amp; Bin Liu,<br>
"Parallel modeling for line speed approximate content-based packet classification.",<br>

<i>Jisuanji Yanjiu yu Fazhan(Comput. Res. Dev.)</i>,
938-944
(2005)

</li>
<br><li value="">
Wenjie Li, Bin Liu, Lei Shi, Yang Xu &amp; Dapeng Wu,<br>
"Preemptive packet-mode scheduling to improve TCP performance",<br>
<i>IEEE/ACM International Symposium on Quality of Service (IWQoS)</i>
,
246-258
(2005)

</li>
<br><li value="">
Beibei Wu, Yang Xu, Bin Liu, Hongbin Lu &amp; Xiaojun Wang,<br>
"An efficient scheduling mechanism with flow-based packet reordering in a high-speed network processor",<br>
<i>IEEE Workshop on High Performance Switching and Routing (HPSR)</i>
,
481-485
(2005)

</li>
<br><li value="">
Beibei Wu, Yang Xu, Hongbin Lu &amp; Bin Liu,<br>
"A practical packet reordering mechanism with flow granularity for parallelism exploiting in network processors",<br>
<i>19th IEEE International Parallel and Distributed Processing Symposium (IPDPS)</i>
,
8-pp
(2005)

</li>
<br><li value="">
Yang Xu, Beibei Wu, Wei Li, Wenjie Li &amp; Bin Liu,<br>
"A fair and bandwidth-guaranteed scheduling algorithm for buffered crossbar switches",<br>
<i>Performance, Quality of Service, and Control of Next-Generation Communication and Sensor Networks III</i>
,
60110O
(2005)

</li>
<br><li value="">
Yang Xu, Wei Li, Beibei Wu, Wenjie Li &amp; Bin Liu,<br>
"Reducing the implementation complexity of combined input and output queued switches by using extended maximal matching algorithm",<br>
<i>GLOBECOM'05. IEEE Global Telecommunications Conference, 2005.</i>
,
6-pp
(2005)

</li>
<br><li value="">
Yang Xu, Beibei Wu, Wenjie Li &amp; Bin Liu,<br>
"A scalable scheduling algorithm to avoid conflicts in switch-memory-switch routers",<br>
<i>Proceedings. 14th International Conference on Computer Communications and Networks, 2005. ICCCN 2005.</i>
,
57-64
(2005)

</li>
<br><li value="">
Xudong Li, Yang Xu, Bin Liu &amp; Xiaojun Wang,<br>
"Hardwired logic and multithread design in network",<br>

<i>Tsinghua Science and Technology</i>,
207-212
(2004)

</li>
<br><li value="">
Wenjie Li, Bin Liu &amp; Yang Xu,<br>
"320-Gb/s switch system to guarantee QoS of real-time traffic",<br>
<i>Internet Quality of Service</i>
,
207-219
(2003)

</li>
<br><li value="">
Wenjie Li, Yiping Gong, Yang Xu, Kai Zheng &amp; Bin Liu,<br>
"Design and implementation of a 320 Gb/s switch fabric",<br>
<i>International Conference on Computer Networks and Mobile Computing (ICCNMC)</i>
,
143-148
(2003)

</li>
<br><li value="">
Yang Xu, Bin Liu, Beibei Wu &amp; Wei Li,<br>
"BMC: A Two-stage Switch Architecture for High Performance Multimedia Communication",<br>
<i>The First Multimedia Communications Workshop: State of the Art and Future Directions</i>
,
19
(2003)

</li>
<br><li value="">
Yang Xu, Zhiwei Dai, Bin Liu &amp; Wenjei Li,<br>
"A scalable 10 Gb/s line-rate router with DiffServ support",<br>
<i>IEEEInternational Conference on Communication Technology (ICCT)</i>
,
407-411
(2003)

</li>
<br><li value="">
Wenjie Li, YiPing Gong, Yang Xu, Kai Zheng &amp; Bin Liu,<br>
"A 320-Gb/s IP router with QoS control",<br>
<i>Proceedings of the 15th international conference on Computer communication (ICCC)</i>
,
134-143
(2002)

</li>    
	    
	    
<br></ol>
	    
	    
	    

    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
