<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="page">
<style>
    /*********************************
     The list of service items
     *********************************/
/* The list of items */
.biblist { }

/* The item */
.biblist li { }

/* You can define custom styles for plstyle field here. */


/*************************************
 The box that contain BibTeX code
 *************************************/
div.noshow { display: none; }
div.bibtex {
	margin-right: 0%;
	margin-top: 1.2em;
	margin-bottom: 1em;
	border: 1px solid silver;
	padding: 0em 1em;
	background: #ffffee;
}
div.bibtex pre { font-size: 75%; overflow: auto;  width: 100%; padding: 0em 0em;}</style>
<script type="text/javascript">
    <!--
    // Toggle Display of BibTeX
    function toggleBibtex(articleid) {
        var bib = document.getElementById('bib_'+articleid);
        if (bib) {
            if(bib.className.indexOf('bibtex') != -1) {
                bib.className.indexOf('noshow') == -1?bib.className = 'bibtex noshow':bib.className = 'bibtex';
            }
        } else {
            return;
        }
    }
-->
    </script>

{% include _browser-upgrade.html %}

{% include _navigation.html %}

{% if page.image.feature %}
  <div class="image-wrap">
  <img src=
    {% if page.image.feature contains 'http://' %}
      "{{ page.image.feature }}"
    {% elsif page.image.feature contains 'https://' %}
      "{{ page.image.feature }}"
    {% else %}
      "{{ site.url }}/images/{{ page.image.feature }}"
    {% endif %}
  alt="{{ page.title }} feature image">
  {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
  {% endif %}
  </div><!-- /.image-wrap -->
{% endif %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  <article>
    <h1>{{ page.title }}</h1>
    <div class="article-wrap">
      {{ content }}
	      

		
	    	    
<h4 style="margin-bottom:0px;padding-top:10px;">Journal Editorship</h4>
	    
<ul>
<li value=""> Editor, Journal of Network and Computer Applications (Elsevier), 2019-Present </li>
<li value=""> Guest Editor, SCIENCE CHINA Information Sciences, Special Issue on User-Centric Intelligent Networking, 2025 </li>
<li value=""> Guest Editor, IEEE Journal on Selected Areas in Communications (JSAC), Series on Network Softwarization and Enablers, 2018-2019 </li>
<li value=""> Guest Editor, Wiley Security and Communication Networks Journal, Special Issue on Network Security and Management in SDN, 2017 </li>

</ul>


<h4 style="margin-bottom:0px;padding-top:10px;">Organizing Committee</h4>
	    
<ul>
<li value=""> TPC Co-Chair : IEEE/ACM IWQoS 2026 </li>
<li value=""> General Co-Chair : APNET 2025 </li>
<li value=""> Vice General Co-Chair : APNET 2024 </li>
<li value=""> Sponorship Co-Chair : ACM CoNEXT 2025 </li>

	
</ul>


		
<h4 style="margin-bottom:0px;padding-top:10px;"> Program Committee </h4>
	    
<ul>
<li value=""> IEEE International Conference on Computer Communications (INFOCOM), 2025-2026 </li>
<li value=""> IEEE International Conference on Network Protocols (ICNP), 2024-2025 </li>	
<li value=""> IFIP Networking Conference 2014, 2015, 2016, 2019 </li>
<li value=""> IEEE Global Communications Conference (GLOBECOM) 2009 - 2019 </li>
<li value=""> IEEE/ACM International Symposium on Quality of Service (IWQoS) 2010 </li>
<li value=""> IEEE Symposium on Computers and Communications (ISCC) 2017 - 2019 </li>
<li value=""> ACM International Conference on Modeling, Analysis and Simulation of Wireless and Mobile
Systems (MSWiM) 2017 - 2019 </li>
<li value=""> IEEE International Conference on High Performance Switching and Routing (HPSR), 2016,
2017, 2019 </li>
<li value=""> IEEE International Conference on Edge Computing (EDGE) 2017-2018 </li>
<li value=""> IEEE International Conference on Communications (ICC) 2008-2015 </li>
<li value=""> IEEE International Conference on Network Protocols (ICNP) 2013, Poster and Demo Session </li>
<li value=""> IEEE International Conference on Communications in China: Advanced Internet and Cloud
(AIC) 2012 </li>
<li value=""> ACM/IEEE/IFAC/TRB International Conference on Connected Vehicles and Expo (ICCVE)
2012 </li>
	
</ul>  
	
	
	    

    </div><!-- /.article-wrap -->
    {% if site.disqus_shortname and page.comments %}
      <section id="disqus_thread"></section><!-- /#disqus_thread -->
    {% endif %}
  </article>
</div><!-- /#index -->
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}          

</body>
</html>
